<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RavenDbUrls" value="https://a.free.huanhvhd.ravendb.cloud"/>
    <add key="RavenDbCertificateFile" value="free.huanhvhd.client.certificate.with.password.pfx"/>
    <add key="RavenDbCertificatePassword" value="3066A1A094F167376B41AC9DD4142D8C"/>
    <add key="RavenDbDefaultDatabase" value="testdb42"/>
  </appSettings>
</configuration>