<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RavenDbUrl" value="https://huanhvtest-zknk.ravenhq.com"/>
    <add key="RavenDbApiKey" value="5386f705-1fbe-4fbc-9a37-02e18ddb8444"/>
    <add key="RavenDbDefaultDatabase" value="huanhvtest-test"/>
  </appSettings>
</configuration>